# SuperMarket Analysis

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('supermarket_sales - Sheet1.csv')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [3]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [4]:
#removemos los espacios en blanco de los features
df.columns= df.columns.str.replace(' ','_')
df.columns

Index(['Invoice_ID', 'Branch', 'City', 'Customer_type', 'Gender',
       'Product_line', 'Unit_price', 'Quantity', 'Tax_5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'Rating'],
      dtype='object')

In [5]:
#Borramos el identicador, no nos hace falta
df=df.drop(['Invoice_ID'], axis=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Branch                   1000 non-null   object
 1   City                     1000 non-null   object
 2   Customer_type            1000 non-null   object
 3   Gender                   1000 non-null   object
 4   Product_line             1000 non-null   object
 5   Unit_price               1000 non-null   float64
 6   Quantity                 1000 non-null   int64
 7   Tax_5%                   1000 non-null   float64
 8   Total                    1000 non-null   float64
 9   Date                     1000 non-null   object
 10  Time                     1000 non-null   object
 11  Payment                  1000 non-null   object
 12  cogs                     1000 non-null   float64
 13  gross_margin_percentage  1000 non-null   float64
 14  gross_income             1000 non-null   float64
 15  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(8)
memory usage: 125.1+ KB

In [7]:
cat_columns = [cname for cname in df.columns if df[cname].dtype == "object"]
cat_columns

['Branch',
 'City',
 'Customer_type',
 'Gender',
 'Product_line',
 'Date',
 'Time',
 'Payment']

In [18]:
#observamos que valores tienen los features (menos Date y Time que ya nos lo imaginamos)
for i in cat_columns:
    if i != 'Date' and i!= 'Time':
        print("%s tiene %d elementos: %s"%(i, len(df[i].unique().tolist()), df[i].unique().tolist()))

Branch tiene 3 elementos: ['A', 'C', 'B']
City tiene 3 elementos: ['Yangon', 'Naypyitaw', 'Mandalay']
Customer_type tiene 2 elementos: ['Member', 'Normal']
Gender tiene 2 elementos: ['Female', 'Male']
Product_line tiene 6 elementos: ['Health and beauty', 'Electronic accessories', 'Home and lifestyle', 'Sports and travel', 'Food and beverages', 'Fashion accessories']
Payment tiene 3 elementos: ['Ewallet', 'Cash', 'Credit card']

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Branch                   1000 non-null   object
 1   City                     1000 non-null   object
 2   Customer_type            1000 non-null   object
 3   Gender                   1000 non-null   object
 4   Product_line             1000 non-null   object
 5   Unit_price               1000 non-null   float64
 6   Quantity                 1000 non-null   int64
 7   Tax_5%                   1000 non-null   float64
 8   Total                    1000 non-null   float64
 9   Date                     1000 non-null   object
 10  Time                     1000 non-null   object
 11  Payment                  1000 non-null   object
 12  cogs                     1000 non-null   float64
 13  gross_margin_percentage  1000 non-null   float64
 14  gross_income             1000 non-null   float64
 15  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(8)
memory usage: 125.1+ KB

In [10]:
df.describe()

,Unit_price,Quantity,Tax_5%,Total,cogs,gross_margin_percentage,gross_income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.220360e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [11]:
# checking shape
print("The dataset has {} rows and {} columns.".format(*df.shape))

# ... and duplicates
print("It contains {} duplicates.".format(df.duplicated().sum()))

The dataset has 1000 rows and 16 columns.
It contains 0 duplicates.

In [12]:
#Vemos a ver cuantosdatos tenemos perdidos (vemos que no hay)

total = df.isnull().sum().sort_values(ascending=False) #total de valores perdidos por columna ordenados 
#Porcentaje de valores perdidos respecto al total de cada columna
percent = ((df.isnull().sum())*100)/df.isnull().count().sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total','Percent'], sort=False).sort_values('Total', ascending=False)
missing_data.head(10)

                         Total  Percent
Rating                       0      0.0
gross_income                 0      0.0
gross_margin_percentage      0      0.0
cogs                         0      0.0
Payment                      0      0.0
Time                         0      0.0
Date                         0      0.0
Total                        0      0.0
Tax_5%                       0      0.0
Quantity                     0      0.0

## Pasamos `date`y `Time` que son *Object* a formato *datetime*

In [14]:
df['Date'] = pd.to_datetime(df['Date'])
df['day'] = (df['Date']).dt.day
df['month'] = (df['Date']).dt.month
df['year'] = (df['Date']).dt.year

In [15]:
type(df['Date'])

pandas.core.series.Series

In [16]:
df['Time'] = pd.to_datetime(df['Time'])
df['Hour'] = (df['Time']).dt.hour    #type(sales['Time'])
df['Hour'].nunique()  #gives us the number total of different unique hours

11

In [17]:
  df['Hour'].unique()

array([13, 10, 20, 18, 14, 11, 17, 16, 19, 15, 12])